@import "../../variables";

.keyboardContainer {
  width: 80vw;
  height: 35vh;
  border: 1px solid $green;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.optionsKeys {
  display: flex;
  align-items: center;
  align-content: space-between;
  width: 100%;
  height: 30px;
}
